$ground:white;
$main-color: $ground;         

//=====  Navbar  =====
$active-bg-color: darken($main-color, 10%);       

.navbar {
    border-bottom: 1px solid darken($active-bg-color, 20%);
}

.nav-link {
    &:hover {
        background-color: $active-bg-color;
    }
}

.navbar-dark .navbar-nav .active > .nav-link {
    background-color: $active-bg-color;
}

.nav-item {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

$base-color: rgb(166, 169, 219);

@for $i from 1 through 3 {
  ul.a:nth-child(3n + #{$i}) {
    background-color: lighten($base-color, $i * 5%);
  }
}

main{
  display: flex;
  flex-direction: column;
  align-content: center;  
  
}

@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";
      .bg-iconnav {
        background: #f0323d;
        background: -moz-linear-gradient(top, #f0323d 0%, #e6366c 100%);
        background: -webkit-linear-gradient(top, #f0323d 0%, #e6366c 100%);
        background: linear-gradient(to bottom, #f0323d 0%, #e6366c 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0323d', endColorstr='#e6366c', GradientType=0);
        border-radius: 7;
        padding: 10px;
      }

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }